body{
    background-color: yellow;
}

h1{
    text-align: center;
}
.content{
    display: flex;
    justify-content: center;
}
input{
    width: 30%;
    margin-bottom: 15px;
}
.wrapbtn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
button{
    display:flex;
    justify-content: center;
    min-width: 100%;
    margin-bottom: 5px;
}
.out{
    display:flex;
    justify-content: center;
    font-weight: bold;
}